* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  font-family: sans-serif;
  color: #333;
  background-color: #f3e4d7;
}

/* height of the container */
.map-wrapper {
  height: 100%;
  width: 100%;
  border-radius: hidden;
  overflow: hidden
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}
.map-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: auto; /* 👈 QUAN TRỌNG */
}